---
import '/src/styles/style.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Bienvenido a Rhenania - Monitoreo de Temperatura" />
    <title>Inicio - Rhenania</title>
  </head>
  <body>
    <h1>Monitoreo de Temperatura - Rhenania</h1>
    <p>Seleccione la opción deseada:</p>
    <div id="index-buttons-container">
      <button class="refrigerador-button" onclick="window.location.href='/views/refrigeradores'">Ver Equipos registrados</button>
      <button class="refrigerador-button" onclick="window.location.href='/admin/configuracion'">Configuración</button>
      <br>
    </div>
  </body>
</html>
