---
import '/src/styles/index.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio - Rhenania</title>
  </head>
  <body>
    <h1>Monitoreo de Temperatura - Rhenania</h1>
    <p>Seleccione la opci贸n deseada:</p>
    <div id="index-buttons-container">
      <button class="refrigerador-button" id="login-button" onclick="window.location.href='/login'">Iniciar Sesi贸n</button>
      <button class="refrigerador-button" id="logout-button" style="display: none;">Cerrar Sesi贸n</button>
      <button class="refrigerador-button" onclick="window.location.href='/views/refrigeradores'">Ver Equipos registrados</button>
      <button class="refrigerador-button" onclick="window.location.href='/admin/configuracion'" id="config-button" style="display: none;">Configuraci贸n</button>
    </div>
  </body>
  <script src="/src/scripts/index.js" type="module"></script>
</html>
