---
import '/src/styles/style.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registros - Rhenania</title>
  </head>
  <body>
    <button onclick="window.history.back();">Volver</button>
    <table id="temperature-table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Temperatura (°C)</th>
          <th>Equipo</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <!-- Modal para mostrar los datos adicionales -->
    <div id="modal" style="display: none;">
      <div class="modal-overlay">
        <div class="modal-content">
          <p><strong>UID:</strong> <span id="modal-uid"></span></p>
          <p><strong>IP:</strong> <span id="modal-ip"></span></p>
          <button onclick="closeModal()">Cerrar</button>
        </div>
      </div>
    </div>    

    <script type="module" src="/src/scripts/refrigerador.js"></script>
  </body>
</html>