---
import "/src/styles/style.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Bienvenido a Rhenania - Monitoreo de Temperatura"
    />
    <title>Configuración - Rhenania</title>
  </head>
  <body>
    <h1>Configuración y Ajustes - Rhenania</h1>
    <button
      id="back-button"
      style="margin-bottom: 20px;"
      onclick="window.location.href='/'"
    >Volver</button>

    <p>Seleccione la opción deseada:</p>
    <div id="index-buttons-container">
      <button
        class="refrigerador-button"
        onclick="window.location.href='/admin/usuarios'"
        >Lista de usuarios</button
      >
      <br>
    </div>
      </div>
    </div>
  </body>
</html>
