---
import '/src/styles/style.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Bienvenido a Rhenania - Monitoreo de Temperatura" />
    <title>Configuración - Rhenania</title>
  </head>
  <body>
    <h1>Visualizar, añadir o eliminar usuarios - Rhenania</h1>
    <button id="back-button" style="margin-bottom: 20px;" onclick="window.location.href='/'">Volver a inicio</button>

    <p>Lista de usuarios:</p>
  </body>
</html>