---
import '/src/styles/style.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Bienvenido a Rhenania - Monitoreo de Temperatura" />
    <title>WIFI - Rhenania</title>
  </head>
  <body>
    <h1>Ingresar datos WIFI - Rhenania</h1>

    <!-- Botón de regreso -->
    <button id="back-button" style="margin-bottom: 20px;" onclick="window.location.href='/admin/configuracion'">Volver a inicio</button>

    <!-- Contenedor de la tarjeta -->
    <div id="wifi-card">
      <!-- Formulario para ingresar datos de la red WiFi -->
      <form id="wifi-form" action="/api/guardarWifi" method="POST">
        <div>
            <label for="wifi-name">Nombre de la Red (SSID):</label>
            <input type="text" id="wifi-name" name="wifiName" required placeholder="Ejemplo: MiRedWiFi" />
        </div>
        <div>
            <label for="wifi-password">Contraseña:</label>
            <input type="password" id="wifi-password" name="wifiPassword" required placeholder="Contraseña de WiFi" />
        </div>
        <div>
            <label for="wifi-ip">Dirección IP:</label>
            <input type="text" id="wifi-ip" name="wifiIp" required placeholder="Ejemplo: 192.168.1.1" />
        </div>
        <div>
            <label for="medicion-intervalo">Intervalo de Medición (ms):</label>
            <input type="number" id="medicion-intervalo" name="medicionIntervalo" required placeholder="Ejemplo: 10000" />
        </div>
        <div>
            <button type="submit">Guardar datos WiFi</button>
        </div>
    </form>
    </div>

    <script type="module" src="/src/scripts/config/wifi.js"></script>
  </body>
</html>
